.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-video {
    flex-grow: 1;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    text-align: center;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 260px;
}

/***** MOBILE *****/

@media(max-width: 768px) {
    .cabecalhoPrincipal .container, .cabecalhoPrincipal-nav, .conteudoPrincipal-cursos, .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0 auto;
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }
}