section {
    width: 90%;
    margin: 40px auto;
}

.contato-form label, .contato-form legend {
    display: block;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    font-size: 0.9em;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}

thead {
    background-color: #555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000;
    padding: 8px 15px;
}

/***** MOBILE (480px)  *****/

@media screen and (max-width: 480px) {
    .contato-form label, .contato-form legend {
        font-size: 1.8em;
    }

    .input-padrao {
        font-size: 1.4em;
        padding: 10px 0;
        width: 100%;
    }

    .enviar {
        font-size: 1.8em;
        width: 100%;
    }

    .horarios {
        width: 100%;
        font-size: 1.8em;
    }
}