body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
}

.principal{
	padding: 30px;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.missao {
    margin: 16px 0;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    background: #FFFFFF;
    padding: 3em;
    clear: left;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.itens {
    line-height: 1.5em;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}