.produtos {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 0.5em;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 2em;
    font-weight: bold;
}

.produto-imagem {
    width: 100%;
}

.produto-descricao {
    font-size: 1.5em;
}

.produto-preco {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 10px;
}

/***** MOBILE (480px)  *****/

@media screen and (max-width: 480px) {
    .produtos {
        width: auto;
    }

    .produtos li {
        display: block;
        width: 80%;
        margin: 5% auto;
    }
    
    .produtos h2 {
        font-size: 2.5em;
    }

    .produto-descricao {
        font-size: 2em;
    }

    .produto-preco {
        font-size: 2.2em;
    }
}